/* Colors */
/*
  light green: #57A301
  dark green: #1A3300
  light blue: #3E7073
  dark blue: #1F333F
  pill red: #C22224
  pill blue: #2274C2
  dark: #0D0D0E
*/

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Roboto:300,400,700');
/* 
  font-family: 'Roboto', sans-serif;
  font-family: 'Anonymous Pro', monospace; 
*/

/************
LAYOUT
************/

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  
  background: url('../img/header.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 900px) {
  main {
    flex-direction: row;
  }
  #left,
  #right {
    width:50vw;
    height:100vh;
  }
}



canvas {
  z-index: -1;
  position: absolute;
  transition: opacity 0.5s ease;
  width: 100%;
  height: 100vh;
}

/************
HEADER
************/

/* Matrix Rain Effect */


header {
  background-image: linear-gradient(-180deg, rgba(13,13,14,0.80) 6%, #0D0D0E 100%);
  color: #57A301;
  padding: 0 2.5em;
  padding-top: 2em;
  height: 100vh;
  font-family: 'Anonymous Pro', monospace;
  transition: color 0.5s ease;
  width: 100%;
}

header nav a {
  color: #57A301;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.5s ease;
}

header.red {
  background-image: linear-gradient(-180deg, rgba(13,13,14,0.65) 6%, #0D0D0E 100%);
  color: #3E7073;
}

header.red nav a {
  color: #3E7073;
}

/************
PILLS
************/

#pillSelect {

  font-weight: bold;
  width: 320px;
  margin: 0 auto;
  margin-top: 25vh;
}

#pillSelect h5 {
  display: block;
  margin: 0 auto;
  margin-bottom: 2em;
  text-align: left;
  font-size: 1em;
  line-height: 1em;
}

#pillSelect h5 span.cursor{
  background-color: #57A301;
  position: absolute;
  height: 1em;
  width: 0.5em;
  animation: blink-animation 0.75s steps(5, start) infinite;
  -webkit-animation: blink-animation 0.75s steps(5, start) infinite;
}

header.red #pillSelect h5 {
 text-align: center;
 line-height: 2em;
}

#pillContainer {
  display: flex;
  justify-content: space-around;
}

#pillContainer a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 8em;
  height: 8em;

}

#pillContainer a #Active{
  stroke: none;
}

#pillContainer a.active #Active {
  stroke: #57A301;
}

header.red #pillContainer a.active #Active {
  stroke: #3E7073;
}


#pillContainer a:hover #pill,
#pillContainer a.active #pill {
  fill:  #57A301;
}

header.red #pillContainer a:hover #pill,
header.red #pillContainer a.active #pill {
  fill:  #3E7073
}

#pillContainer a:hover #redPillText,
#pillContainer a:hover #bluePillText,
#pillContainer a.active #bluePillText,
#pillContainer a.active #redPillText  {
  color: #57A301;
}

header.red #pillContainer a:hover #redPillText,
header.red #pillContainer a:hover #bluePillText,
header.red #pillContainer a.active #bluePillText,
header.red #pillContainer a.active #redPillText  {
  color: #3E7073
}

#pillContainer a svg {
  width: 100%;
  height: 100%;
}

#redPillText,
#bluePillText{
  position: relative;
  top: -3.25em;
  font-size: 0.85em;
}

#redPillText {
  color: #C22224;
}

#bluePillText {
  color: #2274C2;
}
/************
MAIN
************/

main {
  background: url('../img/blue.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Anonymous Pro', monospace; 
}

main.red {
  background: url('../img/red.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#left,
#right {
  color: #57A301;
  padding: 0 2.5em;
}

main.red #left,
main.red #right {
  color: #3E7073;
}

#left {
  background:#0D0D0E;
}

#left h1 {
  text-transform: uppercase;
  font-size: 5em;
  margin: 0;
}

#left h3,
#right h3 {
  text-transform: uppercase;
  font-size: 1.25em;
  margin: 1em 0;
}

#left p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

#right {
  background-image: linear-gradient(-180deg, #0D0D0E 0%, rgba(26,26,28,0.70) 100%);
}

#right ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#right li {
  margin: 0.25em 0 ;
}

#right #trailer {
  margin: 3em 0;
}

#buttons {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-bottom: 4em;
}

@media screen and (min-width: 900px) {
  #buttons {
    justify-content: space-around;
    flex-direction: row;
  }
}

#buttons a {
  display: inline-block;
  background: #000;
  padding: 1em 2em;
  border-radius: 50px;
  color: #57A301;
  text-decoration: none;
  text-align: center;
  margin-bottom: 1em;
}

main.red #buttons a {
  color: #1F333F;
  background: #3E7073;
}

main.red #buttons a:hover {
  color: #3E7073;
  background: #000;
}

#buttons a:hover {
  background: #1A3300;
}


/************
VIDEO
************/

.mejs__overlay-button {
  background: url('../img/play.svg');
  background-size: cover;
  background-position: center;
}

.mejs__overlay:hover>.mejs__overlay-button {
  background-position: center;
}

.mejs__controls {
  display: none;
}

/************
UTILITY
************/

.hide {
  opacity: 0;
}

/************
ANIMATIONS
************/

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}